<ol>
  <% @have_ranking.each do |item| %>
    <li id="ranking">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <% if item.medium_image.present? %>
              <%= image_tag(item.medium_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
            <div class="caption">
              <%= item.title %>
              <p><%= link_to "詳細" , item , class: "btn btn-info btn-sm" %></p>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ol>